.overview{
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4rem;
    /* background-color: blueviolet; */
}

.overview-left{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    /* background-color: cadetblue; */
    position: relative;
    z-index: 1;
}

.overview-right{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    /* background-color: rgb(60, 255, 0); */
    position: relative;
}

#overview-tri{
    position: absolute;
    top: 20%;
    right: 0%;
    animation: movebounce 5s linear infinite;
}

#overview-shape-5{
    position: absolute;
    top: 20%;
    left: -40%;
    z-index: 1;
    animation: movebounce 5s linear infinite;
}

.overview-para{
    width: 100%;
    margin-bottom: 10px;
    color: #818992;
    font-size: 18px;
    padding: 1rem;
}

.overview-cards{
    display: flex;
    width: 45%;
    justify-content: center;
}

.card-cont{
    width: 100%;
    border-radius: 5px;
    min-height: 305px;
    /* background-color: chocolate; */
    padding: 1rem;
    margin-left: 1rem;
    box-shadow: 0 0 1.25rem rgb(108 118 134 / 10%);
    transition: 1s;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.card-cont:hover{
    transform: translateY(-10px);
}

.card-img-cont{
    display: flex;
    width: 100%;
    justify-content: center;
}

.card-img{
    width: 65%;
}

.card-title{
    margin: 10px  0px;
    text-align: center;
    width: 100%;
    font-size: 20px;
}

.card-text{
    color:#818992;
    text-align: center;
}

#overview-card-1{
    margin-top: 60px;
}

@keyframes movebounce
{
    0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@media (max-width:1400px){
    #overview-shape-5{
        left:-50%;
    }
}

@media(max-width:900px){

    .overview{
        flex-direction: column-reverse;
    }

    .overview-left{
        width: 100%;
        justify-content: space-around;
        padding: 1rem 0rem;
    }

    .overview-right{
        width: 100%;
    }

    .overview-para{
        font-size: 16px;
        margin-bottom: 0px;
    }

    #overview-shape-5{
        display: none;
    }

    .card-cont{
        width: 100%;
        border-radius: 5px;
        min-height: 305px;
        padding: 1rem;
        margin-left: 0rem;
        margin-bottom: 10px;
    }
    
    .card-title{
        margin: 10px  0px;
        text-align: center;
        width: 100%;
        font-size: 18px;
    }

    #overview-card-1{
        margin-top: 0px;
    }
    
}