.intro-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
    overflow-y:hidden ;
}

#intro-circle{
    position: absolute;
    left:80%;
}

#intro-sha-1{
    position: absolute;
    left: 5%;
    top:20%;
    animation: movebounce 5s linear infinite;
}

#intro-sha-2{
    position: absolute;
    right: 2%;
    top:15%;
    animation: movebounce 5s linear infinite;
}

#intro-sha-3{
    position: absolute;
    animation: rotate3d 4s linear infinite;
    left: 4%;
    top:50%;
}

#intro-sha-4{
    position: absolute;
    right: 1%;
    bottom:-2%;
    animation: movebounce 5s linear infinite;
}

#intro-cross{
    position: absolute;
    top:20%;
    left:50%;
    animation: rotateme 10s linear infinite;
}

.intro{
    width: 100%;
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: blueviolet; */
    overflow-x: hidden;
    position: relative;
}

.intro-left{
    width: 50%;
    /* background-color: cadetblue; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.intro-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: coral; */
}

.intro-head{
    font-size: 3.5rem;
    font-weight: bold;
    color: black;
    max-width: 85%;
}

.intro-text{
    font-size: 18px;
    color: #818992;
    margin-top: 26px;
    max-width: 85%;
}

.intro-button{
    background-color: #ff8a73;
    color: white;
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 18px;
    border-radius: 6px ;
    margin-top: 26px;
    cursor: pointer;
    box-shadow: 0 13px 27px 0 rgb(163 48 53 / 25%);
}

#landing-img{
    width: 100%;
}

@keyframes movebounce
{
    0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes rotate3d{
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes rotateme{
    0% {
        -webkit-transform: rotate(
    0deg);
        transform: rotate(
    0deg);
    }
    
    100% {
        -webkit-transform: rotate(
    360deg);
        transform: rotate(
    360deg);
    }
}

@media (max-width:1400px){
    .intro-head{
        width: 100%;
        max-width: 100%;
    }   
}

@media (max-width:900px){
    .intro-head{
        width: 100%;
        max-width: 100%;
    }

    .intro{
        flex-direction: column-reverse;
        justify-content: center;
    }

    .intro-left{
        width: 100%;
    }

    .intro-right{
        width: 100%;
    }

    .intro-head{
        font-size: 1.5rem;
    }
    
    .intro-text{
        font-size: 16px;
    }

    .intro-button{
        padding: 0.5rem;
        font-size: 16px;
        margin-top: 22px;
    }
    
    #landing-img{
        width: 90%;
    }

    #intro-sha-1{
        position: absolute;
        left: 2%;
        width: 20%;
        top:20%;
        animation: movebounce 5s linear infinite;
    }
    
    #intro-sha-2{
        position: absolute;
        right: 2%;
        width: 20%;
        top:15%;
        animation: movebounce 5s linear infinite;
    }
    
    #intro-sha-3{
        display: none;
    }
    
    #intro-sha-4{
        position: absolute;
        right: -1%;
        bottom:-2%;
        animation: movebounce 5s linear infinite;
    }
}