.login{
    margin: 0px;
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    overflow-y: hidden;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

.signup{
    margin: 0px;
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    overflow-y: hidden;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

#login-img{
    position: absolute;
    width: 20%;
    bottom: 0%;
    right: 0%;
}

.login-cont{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: #f5f6fa;
}

.login-left{
    width: 45%;
    height: 100vh;
    max-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: scroll;
}

.login-right{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-cont-1{
    width: 70%;
    height: 100%;
    padding-top: 10%;
    position: relative;
    /* background-color: violet; */
}

.login-img{
    width: 30%;
    margin-bottom: 20px;
}

.login-head{
    font-size: 20px;
    color: #364a63;
    width: 80%;
    font-weight: bold;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.login-para{
    width: 80%;
    font-size: 14px;
    color: #526484;
    margin-bottom: 20px;
}

.login-subhead{
    width: 80%;
    font-size: 14px;
    color: #526484;
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-subhead-2{
    color: #ff8a73;
    cursor: pointer;
}

.cred-cont{
    width: 80%;
    margin-bottom: 20px;
}

.login-btn{
    background-color: #ff8a73;
    color: white;
    width: 80%;
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    font-size: 18px;
    border-radius: 6px ;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 20px;
    /* box-shadow: 0 13px 27px 0 rgb(163 48 53 / 25%); */
    transition: 0.5s;
}

.or{
    color:#526484;
    text-align: center;
    width: 80%;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
}

.or-option{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.option{
    color:#ff8a73 ;
    cursor: pointer;
    margin-bottom: 40px;
}

.login-copyright{
    position: absolute;
    bottom: 10px;
    font-size: 14px;
    color: #526484;
    width: 80%;
    text-align: center;
}

.crypto-img{
    width: 60%;
}

.login-cont-2{
    display: flex;
    justify-content: center;
    width: 30%;
    margin-top: 20px;
}

.signup-cont-2{
    display: flex;
    justify-content: center;
    width: 48%;
    margin-top: 20px;
}


input.form-control{
    width: 20px;
}
.react-tel-input .form-control {
    font-size: 16px;
    background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 5px;
    width: 100%;
    outline: none;
    padding: 18.5px 14px 18.5px 58px;
    transition: box-shadow ease .25s,border-color ease .25s;
}
.bh{
    position: absolute;
    top:-100%;
}
.login-cont-3{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#phone-no{
    width: 60%;
}



.login-btn:hover{
    transform: translateY(-10px);
}

#signup-btn{
    width: 60%;
}

@media (max-width:850px){
    .login-left{
        width: 100%;
    }
    
    .login-right{
        display: none;
    }

    .login-cont-1{
        width: 90%;
        height: 100%;
    }

    .login-head{
        width: 100%;
    }
    
    .login-para{
        width: 100%;
    }
    
    .login-subhead{
        width: 100%;
    }

    .cred-cont{
        width: 100%;
    }
    
    .login-btn{
        width: 100%;
    }

    .or{
        width: 100%;
    }
    
    .or-option{
        width: 100%;
    }

    .login-copyright{
        display: none;
    }
}
/* 
@media(min-width:1500px){
    .login-subhead{}
} */

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(231, 231, 231); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(219, 219, 219); 
  }