*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container-large{
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  /* background-color: burlywood; */
}

.container-medium{
  width: 75%;
}

.container-left{
  width: 50%;
}

.container-right{
  width: 50%;
}