.how-cont{
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edf5ff;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-bottom: 2rem;
}

#how-dash{
    position: absolute;
    top: 10%;
}

.how{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;

}

.how-cards{
    background-color: white;
    border-radius: 5px;
    width: 40%;
    padding: 2rem 1rem;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 8%);
    margin-top: 40px;
    transition: 0.5s;
    cursor: pointer;
}

.how-cards:hover{
    transform: translateY(-10px);
}

.how-card-img-cont{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.how-img{
    width: 35%;
}

.how-card-title{
    width: 100%;
    font-size: 22px;
    text-align: center;
}

.how-card-para{
    width: 100%;
    text-align: center;
    color: #818992;
}

@media(max-width:900px){
    .how-cards{
        width: 80%;
        padding: 1rem 0.5rem;
        margin-top: 40px;
    }
    
    .how-card-img-cont{
        display: flex;
        justify-content: center;
        margin: 10px 0px;
    }
    
    .how-img{
        width: 45%;
    }
    
    .how-card-title{
        width: 100%;
        font-size: 18px;
        text-align: center;
    }
    
    .how-card-para{
        width: 100%;
        font-size: 16px;
    }
}